<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomView_IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0758E8B31D6FF22900E7FCE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0758E8CC1D6FF22900E7FCE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0758E8D71D6FF22900E7FCE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
